<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="Test.Test" android:versionCode="1.0" android:versionName="Test">
	<uses-sdk android:minSdkVersion="12" android:targetSdkVersion="12" />
	<application android:label="Test" android:icon="@drawable/Icon"></application>
</manifest>